<div class="field field-linkedin_profile">
    <label for="linkedin_profile" class="label">
        <span><?= __('Linkedin Profile') ?></span>
    </label>
    <div class="control">
        <input
            type="url"
            name="linkedin_profile"
            id="linkedin_profile"
            class="input-text validate-url validate-length maximum-length-250"
            autocomplete="off"
            value="<?= $block->escapeHtmlAttr(
                $block->getFormData()->getLinkedinProfile()
            ) ?>"
        >
    </div>
</div>
